$form-label-font-size: 1.2rem;
$form-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
$form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
$form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);

.form {
  &-row {
    display: flex;
    margin-bottom: .5rem;
    &-end {
      justify-content: flex-end;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;

    &:first-child {
      margin-left: 0;
    }
    
    &-no-grow {
      flex-grow: 0;
    }
    > label {
      font-size: $form-label-font-size;
      margin-bottom: .25rem;
      margin-left: .25rem;
    }
    input, select, textarea {
      height: 2rem;
      padding: .25rem .5rem;
      border-radius: .25rem;
      border: 1px solid $form-input-border-color;
      background-color: $form-input-background-color;
      color: var(--color-text-light);
      font-weight: normal;
      font-family: 'Gotham Rounded';
      outline: none;
    
      &:focus {
        border-color: $form-input-border-color-light;
      }
    }
    textarea {
      height: 100%;
      resize: none;
    }
    
    select option {
      background-color: black;
    }
  }
}

.filepond {
  &--root {
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
  }
  &--panel-root {
    background-color: $form-input-background-color;
    border: 1px solid $form-input-border-color;
  }

  &--drop-label {
    color: var(--color-text-light);
    font-size: inherit;
  }
}