.btn {
  border: 1px solid $color-btn-border;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: 'Gotham Rounded';
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  
  &-primary {
    color: $color-btn-primary-text;
    background-color: $color-btn-primary-background;
    &:hover {
      color: $color-btn-primary-text-dark;
      background-color: $color-btn-primary-background-dark;
    }
  }
  &-danger {
    color: $color-btn-danger-text;
    background-color: $color-btn-danger-background;
    &:hover {
      color: $color-btn-danger-text-dark;
      background-color: $color-btn-danger-background-dark;
    }
  }
  &-row {
    display: flex;
    align-items: flex-start;
    > * {
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
