// function to convert to hsl
// because typing 100% every time is bad??
@function getHSL($color-hue, $lightness) {
  @return hsl($color-hue, 100%, $lightness);
}

// hues for colours
$base-hue: 200;
$danger-hue-offset: 180;
$danger-hue: $base-hue - $danger-hue-offset;


$color-background-dark: getHSL($base-hue, 8%);
$color-background-light: getHSL($base-hue, 16%);
$color-text-light: getHSL($base-hue, 87%);

$color-btn-border: black;
$color-btn-primary-text: getHSL($base-hue, 20%);
$color-btn-primary-text-dark: getHSL($base-hue, 10%);
$color-btn-primary-background: getHSL($base-hue, 83%);
$color-btn-primary-background-dark: getHSL($base-hue, 73%);

$color-btn-danger-text: black;
$color-btn-danger-text-dark: black;
$color-btn-danger-background: getHSL($danger-hue, 83%);
$color-btn-danger-background-dark: getHSL($danger-hue, 73%);


$form-label-font-size: 1.2rem;
$form-input-background-color: getHSL($base-hue, 31%);
$form-input-border-color: getHSL($base-hue, 50%);
$form-input-border-color-light: getHSL($base-hue, 80%);

$color-error-text: getHSL($danger-hue, 50%);
